common --enable_bzlmod=false
common --enable_workspace

common --legacy_external_runfiles

build --experimental_guard_against_concurrent_changes

build --force_pic

build --dynamic_mode=off

build --strip=never

build --features=layering_check

build --incompatible_no_implicit_file_export

common --incompatible_disallow_empty_glob

build --build_runfile_links=false

build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

# On focal, ld is to old leading to link errors used by some commands
# in the llvm upstream bazel configuration
build:focal --repo_env=CC=clang-18
build:focal --repo_env=CXX=clang++-18
build:focal --linkopt=-fuse-ld=lld --host_linkopt=-fuse-ld=lld

build:ci --announce_rc
build:ci --show_timestamps

build:ci --show_progress_rate_limit=60

build:ci --color=yes
